{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input class="form-control" autocomplete="off" autofocus type="text" name="symbol" placeholder="Symbol">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" step="0.01" name="shares">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}