{% extends 'layout.html' %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol" id="stock">
                <option value="Symbol" selected disabled>Symbol</option>
                {% for x in symbol %}
                <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input name="shares" id="shares" class="form-control" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}